.demo {
    display: block;
    width: 800px;
    margin: 0 auto;
    margin-top: 80px;
    .dialog-mode {
        margin-top: 20px;
    }
}
.demo-codemirror {
    .global-toolbar {
        margin-bottom: 8px;
    }
    .select-mode {
        width: 200px;
    }
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.ml-4 {
    margin-left: 1rem !important;
}

.CodeMirror {
    height: auto;
  }